body {
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	color: white;
	text-align: center;
}
#wrapper {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0px;
	left: 0px;

}
#bg {
	background-image: url(../images/Gradient.jpg);
	background-repeat: no-repeat cover cover fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	width: 100vw;

}
#Title {
	font-size: 5vw;
	font-family: 'Chewy', cursive;
	color: white;

}
#zipInput {
	font-size: 5vh;
	border-radius: 30px;
	padding: 5px;
}
#getWeatherBtn {
	background-color: silver;
	border-color: lightblue;
	color: white;
	border-radius: 30px;
	font-size: 1vw;
}







