body {
	padding: 0px;
	margin: 0px;
	background-image: url(../Images/Snoopy.jpg);
	background-repeat: no-repeat cover cover fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
	font-family: 'Coiny', cursive;
	color: white;
	text-align: center;
	font-size: 5vw;
	-webkit-animation: rubberBand .9s;
	-moz-animation: rubberBand .9s;
	-ms-animation: rubberBand .9s;
	-o-animation: rubberBand .9s;
	animation: rubberBand .9s;
	text-shadow: 0px 2px 7px #12889B;
}
h5 {
	font-family: 'IBM Plex Serif', serif;
	color: white;
	columns: 4;
	width: 850px;
	position: absolute;
	left: 20%;
	top: 20%;
	font-size: 1.5vw;
	-webkit-animation: fadeIn 3s;
	-moz-animation: fadeIn 3s;
	-ms-animation: fadeIn 3s;
	-o-animation: fadeIn 3s;
	animation: fadeIn 3s;
}
#dogs li:hover {
	color: lightgreen;
	cursor: pointer;
}
